.app-container.account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container.account .userbox {
  width: 60%;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.app-container.account .userbox .form-group {
  padding: 0 6vw;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-container > div {
  display: flex;
  height: fit-content;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  padding: 0.5%;
  background-color: var(--secondary);
  border-radius: 10px;
  font-size: x-large;
}
.nav-container > div:hover {
  transform: scale(1.1);
}
.nav-container > .logout-container:hover {
  background-color: var(--danger);
}
.nav-container > .admin-container:hover {
  background-color: var(--warning);
}
.nav-container .material-symbols-outlined {
  font-size: 2.5rem;
}
.nav-container > .logout-container svg path {
  stroke: #212529;
}
.nav-container .admin-container svg path {
  fill: #212529;
}

@media (max-width: 800px) {
  .app-container.account .userbox {
    width: 100%;
  }

  .nav-container {
    padding-top: 5%;
  }
}
