/* Account */
.accountPage {
  display: flex;
  align-items: center;
  height: 100vh;
}
.accountContainer {
  transition: 0.4s;
  height: 90%;
  width: 90%;
  margin: 0 auto;
  padding: 4% 5%;
  border-radius: 25px;
  background: var(--secondary);
}
.accountContainer:hover {
  height: 95%;
  width: 95%;
}
.accountContainer .header {
  text-align: center;
}
.accountContainer .inputHeader {
  padding-left: 1%;
}
.accountContainer input {
  transition: 0.3s;
  resize: none;
  border: none;
  width: 18%;
  border-radius: 10px 0 0 10px;
  background: var(--light);
  font-size: 1vw;
  padding: 1%;
  outline: none !important;
}
.accountContainer input[type='submit'] {
  margin-left: 1%;
  width: 14%;
  border-radius: 15px;
  background: var(--info);
}
.accountContainer input[type='submit']:hover {
  opacity: 0.8;
}
.accountContainer button {
  width: 4%;
  font-size: 2vw;
  border-radius: 0 10px 10px 0;
  font-family: "EmojiSymbols";
  outline: none !important;
}

.inputArea {
  display: flex;
  padding-bottom: 4%;
}

.submitButtonContainer {
  display: flex;
}

.accountContainer .errorContainer {
  margin: auto 2%;
  width: 25%;
  border-radius: 10px;
  background: var(--red);
}

.savedNotif {
  margin: auto 2%;
  animation: savedFade 0.8s ease 0s 1 normal forwards;
}

.logoutContainer {
  transition: 1s;
  display: flex;
  margin: auto 0 0 auto;
  padding: 0.5%;
  border-radius: 5px;
  color: white !important;
  background: lightcoral;
}
.logoutContainer img {
  width: 3vw;
}
.logoutContainer .logoutTextContainer {
  transition: 1s;
  width: 0em;
  margin: auto 0;
  overflow: hidden;
  font-size: 1.5vw;
}
.logoutContainer:hover {
  background: red;
}
.logoutContainer:hover .logoutTextContainer {
  width: 4em;
  padding-left: 8%;
}

@keyframes savedFade {
  from {
    color: white;
  } to {
    color: lime;
  }
}