.app-container.directory {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.app-container.directory h1 {
  margin-bottom: 0;
  font-size: 5vw;
  font-weight: 600;
  color: white;
  background: rgba(0, 0, 0, 0.25);
}

.tenant-list {
  --card-font-size: 100%;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2% 1%;
  flex: 1;
  padding: 2% 2%;
  mask-image: linear-gradient(to bottom, transparent 0%, black 1%, black 99%, transparent 100%);
  overflow: hidden;
}

.tenant-list > * {
  grid-column: span 2;
}

.tenant-card {
  width: 100%;
  height: 100%;
  padding: 0.5%;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 10px;
}

.tenant-card .header {
  position: relative;
  background: rgba(200, 200, 200, 0.8);
  border-radius: 10px 10px 0 0;
  font-size: calc(var(--card-font-size) / 1.2);
  font-weight: 900;
}
.tenant-card .header .suite::before {
  content: 'Suite';
  position: absolute;
  left: 5%;
  color: #5e5e5e;
  font-weight: normal;
  font-style: italic;
}
.tenant-card .header .material-symbols-outlined {
  position: absolute;
  right: 6%;
  color: var(--info);
  letter-spacing: -0.2em;
  font-size: 150%;
}

.tenant-card .body {
  padding: 5% 0;
  text-align: center;
  font-size: var(--card-font-size);
  text-transform: uppercase;
}

@media (min-width: 1001px) {
  /* Dealing with 3 orphan items */
  .tenant-list > *:nth-last-child(3):nth-child(4n + 1) {
    grid-column-end: 4;
  }

  /* Dealing with 2 orphan items */
  .tenant-list > *:nth-last-child(2):nth-child(4n + 1) {
    grid-column-end: 5;
  }

  /* Dealing with a single orphan */
  .tenant-list > *:last-child:nth-child(4n - 3) {
    grid-column-end: 6;
  }
}

@media (max-width: 1000px) {
  .tenant-list {
    grid-template-columns: repeat(6, 1fr);
  }

  /* Dealing with 2 orphan items */
  .tenant-list > *:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
  }

  /* Dealing with a single orphan */
  .tenant-list > *:last-child:nth-child(3n - 2) {
    grid-column-end: 5;
  }
}
