/* Add clock support */
#head {
  display: flex;
}

/* Banner */
.bannerContainer {
  display: block;
  margin: 0 auto;
}
.banner {
  display: block;
  margin: 0 auto;
  width: 20vw;
}

/* Clock */
.clockContainer {
  font-size: 2.8rem;
  margin: 1%;
  right: 1%;
  position: absolute;
  padding: 0.5% 1%;
  background: var(--clock-background);
  border-radius: 20px;
}

/* Conference cards */
.conferenceCardContainer {
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  overflow: hidden;
}

.conferenceCardContainer .conferenceCard {
  transition: 0.3s;
  width: 80%;
  margin: 10% auto;
}
.conferenceCardContainer .conferenceCard:hover {
  transform: translate(-2%, -2%);
}
