.app-container.home {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 10% 0;
}

.app-container.home .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5%;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.app-container.home .content h2 {
  color: white;
  font-weight: 900;
}

.app-container.home .content h4 {
  font-weight: bold;
}

.app-container.home #pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.app-container.home #pages a {
  transition: 0.1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16vw;
  height: 45vh;
  margin: 1rem;
  text-align: center;
  font-size: 2.5vw;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  filter: drop-shadow(0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2));
}
.app-container.home #pages a .material-symbols-outlined {
  font-size: 10rem;
}
.app-container.home #pages a:hover:not([disabled]) {
  color: lightgray;
  transform: translate(-0.2rem, -0.2rem);
  filter: drop-shadow(1rem 1rem 0 rgba(0, 0, 0, 0.6));
}
.app-container.home #pages a[disabled] {
  pointer-events: none;
  filter: contrast(0.5);
}

.app-container.home #pages a .logout-btn {
  transition: 0.2s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: 1%;
  background: rgba(0, 0, 0, 0.3);
  font-size: 2vw;
  border-radius: 25px;
}
.app-container.home #pages a .logout-btn .material-symbols-outlined {
  font-size: 2vw;
}

.app-container.home #pages a .logout-btn:hover {
  transform: scale(1.05);
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
  .app-container.home {
    padding: 0;
  }

  .app-container.home #pages a {
    width: 10rem;
    height: 14rem;
    margin: 0.4rem;
    font-size: 2rem;
  }

  .app-container.home #pages a .material-symbols-outlined {
    font-size: 7rem;
  }
}