.home-container {
  padding: 0.5%;
  backdrop-filter: blur(5px);
}

.home-container, .home-container > div {
  margin: 1vh 1vw;
  border-radius: 5px;
}

.home-container p {
  font-size: larger;
  margin-bottom: 0.4rem;
}

.about {
  margin-left: 0.5vw !important;
  margin-right: 10vw !important;
  margin-bottom: 4.5vh !important;
  padding: 2vw;
  background-color: rgba(150, 150, 150, 0.7);
}
.about a {
  color: #0f7864;
}
.about a:hover {
  color: #2aa38d;
}

.post-container {
  padding: 1.5vh 0.5vw;
  background-color: rgba(255, 255, 255, 0.5);
}
.post-container.retracted {
  cursor: pointer;
  max-height: 20rem;
  overflow: hidden;
}
.post-container.retracted::before {
  content: 'More';
  transition: 0.2s;
  margin-left: -1%;
  margin-right: -1%;
  margin-top: -6vw;
  transform: translateY(19.5rem);
  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  opacity: 0.85;
  font-size: 4vw;
  color: white;
  text-align: center;
  z-index: 1;
}
.post-container.retracted:hover::before {
  opacity: 1;
}
.post-container > .header {
  display: block;
  color: black;
}
.post-container .post {
  margin: 1vh 0;
  padding: 1%;
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 5px;
  word-wrap: break-word;
}
.post-container .post .header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(30, 30, 30);
}
.post-container .post .header .title {
  font-size: xx-large;
}
.post-container .post .header .timestamp {
  font-size: x-large;
}
.post-container .post .content {
  margin-top: 2vh;
  margin-left: 2vw;
}
.post-container .post .footer {
  width: fit-content;
  margin-left: auto;
  margin-right: 0.5vw;
  font-size: large;
}
.post-container .post .footer::before {
  content: '~';
  margin-right: 0.2rem;
}
