/* Definitions */
:root {
  --card-body-background: #444;
  --card-border: #666;
  --card-divider: #222;
  --card-head-background: #333;
  --card-body-text: #dcdcdc;
  --card-head-soon-background: #004918;
  --card-head-active-background: #5f0000;
  --card-head-over-background: #5b256d;
  --clock-background: #111;
  --login-success: #0a8547;
  --login-fail: #9c2727;
}

/* Global resources */
#divider {
  height: 1px;
  background: var(--card-divider);
  margin-bottom: 2%;
}
/* Loading */
.loadingContainer {
  text-align: center;
  padding-top: 15%;
}
font.loadingText {
  font-size: 10vw;
  opacity: 0.5;
}
/* Conference Card */
.conferenceCard .head {
  padding: 0 1%;
  text-align: center;
  border-top-right-radius: 25px;
  border-top-left-radius: 5px;
  border: 1px solid var(--card-border);
  box-shadow: 2px 4px black;
  overflow: hidden;
  white-space: nowrap;
}
.conferenceCard#upcoming .head {
  background: var(--card-head-background);
}
.conferenceCard#soon .head {
  background: var(--card-head-soon-background);
}
.conferenceCard#active .head {
  background: var(--card-head-active-background);
}
.conferenceCard#over .head {
  background: var(--card-head-over-background);
}
.conferenceCard .body {
  padding: 2% 5%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 25px;
  color: var(--card-body-text);
  background: var(--card-body-background);
  border: 1px solid var(--card-border);
  box-shadow: 2px 4px black;
}
.conferenceCard .body .roomNumberContainer {
  display: flex;
}
.conferenceCard .body .roomNumberContainer .roomNumber {
  color: var(--info);
  margin-left: 1%;
  margin-top: 0.3%;
  font-weight: bold;
}
.conferenceCard .body .creatorContainer {
  display: flex;
  margin-left: 3%;
}
.conferenceCard .body .creatorContainer .creator {
  margin-left: 1%;
  margin-top: 0.3%;
  color: var(--info);
  font-weight: bold;
}
.conferenceCard .body .chronals {
  display: flex;
  justify-content: space-between;
  color: var(--teal);
}
.conferenceCard .body .attendeesContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1%;
}
.conferenceCard .body .attendeesContainer .attendee {
  display: flex;
  margin-right: 2%;
}
.conferenceCard .body .attendeesContainer .attendee .name {
  color: var(--info);
}
/* No scheduled conferences */
.emptyMessageContainer {
  margin-top: 20vh;
  text-align: center;
  opacity: 0.2;
  font-size: 7vw;
}
/* Error */
.errorContainer {
  margin-top: 5%;
  margin-left: 7%;
  padding: 1%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  text-align: center;
  overflow: hidden;
}
.errorContainer .error {
  margin: 0 auto;
}
/* Tab */
.tabContainer input {
  transition: 0.3s;
  width: 10%;
  height: 3em;
  border: none;
  background: var(--card-body-background);
  outline: none !important;
  border-radius: none;
  clip-path: polygon(80% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 20% 0);
}
.tabContainer input[active='true'] {
  background: var(--dark);
  border-radius: 25px 25px 0 0;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 0 0);
}
/* Attendees Input */
.attendeesInputContainer {
  transition: 1s;
  display: flex;
  width: 100%;
  overflow: auto;
  flex-grow: 1;
  background: var(--light);
  border-radius: 15px;
  padding: 1%;
  margin-right: 1%;
}
.attendeesInputContainer input {
  flex-grow: 1;
  border-color: rgba(0, 0, 0, 0);
  outline: none !important;
  background: none;
}
.attendeesInputContainer#focused {
  background: gray;
}
.attendeesInputContainer .attendeeBubble {
  transition: 0.5s;
  display: flex;
  white-space: nowrap;
  min-width: fit-content;
  background: lightgray;
  color: black;
  border-radius: 15px;
  padding: 0 1%;
  margin-right: 1%;
}
.attendeesInputContainer .attendeeBubble span {
  margin: auto 0;
}
.attendeesInputContainer .attendeeBubble .x {
  transition: 0.5s;
  width: 0em;
  overflow: hidden;
  margin: 0.5% 0 0;
  color: lightgray;
  opacity: 0;
  text-align: center;
}
.attendeesInputContainer .attendeeBubble#enabled:hover .x {
  transform: rotate(180deg);
  width: 1.1em;
  opacity: 1;
}
.attendeesInputContainer .attendeeBubble#disabled:hover {
  cursor: default;
}
.attendeesInputContainer .attendeeBubble#enabled:hover {
  cursor: pointer;
  background: gray;
}
.attendeesInputContainer::-webkit-scrollbar {
  height: 10%;
}
.attendeesInputContainer::-webkit-scrollbar-track {
  box-shadow: none;
}
.react-autocomplete-input {
  background: black !important;
  border-radius: 15px;
  min-width: 12%;
  overflow: hidden;
}
.react-autocomplete-input > li {
  background: var(--blue);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #111; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--cyan); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary); 
}

/* Miscellaneous */
h1 {
  font-size: 3vw;
}
h2 {
  font-size: 2.5vw;
}
h3 {
  font-size: 2vw;
}
h4 {
  font-size: 1.40625vw;
}
h5 {
  font-size: 1.171875vw;
}
h6 {
  font-size: 0.9375vw;
}

a {
  color: var(--cyan);
}

a:hover {
  color: var(--primary);
  text-decoration: none;
}
