/* Definitions */
:root {
  --card-body-background: #444;
  --card-border: #666;
  --card-divider: #222;
  --card-head-background: #333;
  --card-body-text: #dcdcdc;
  --card-head-soon-background: #004918;
  --card-head-active-background: #5f0000;
  --card-head-over-background: #5b256d;
  --clock-background: #111;
  --login-success: #0a8547;
  --login-fail: #9c2727;
}

/* Global resources */
#divider {
  height: 1px;
  background: var(--card-divider);
  margin-bottom: 2%;
}
/* Loading */
.loadingContainer {
  text-align: center;
  padding-top: 15%;
}
font.loadingText {
  font-size: 10vw;
  opacity: 0.5;
}
/* Conference Card */
.conferenceCard .head {
  padding: 0 1%;
  text-align: center;
  border-top-right-radius: 25px;
  border-top-left-radius: 5px;
  border: 1px solid var(--card-border);
  box-shadow: 2px 4px black;
  overflow: hidden;
  white-space: nowrap;
}
.conferenceCard#upcoming .head {
  background: var(--card-head-background);
}
.conferenceCard#soon .head {
  background: var(--card-head-soon-background);
}
.conferenceCard#active .head {
  background: var(--card-head-active-background);
}
.conferenceCard#over .head {
  background: var(--card-head-over-background);
}
.conferenceCard .body {
  padding: 2% 5%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 25px;
  color: var(--card-body-text);
  background: var(--card-body-background);
  border: 1px solid var(--card-border);
  box-shadow: 2px 4px black;
}
.conferenceCard .body .roomNumberContainer {
  display: flex;
}
.conferenceCard .body .roomNumberContainer .roomNumber {
  color: var(--info);
  margin-left: 1%;
  font-weight: bold;
}
.conferenceCard .body .chronals {
  display: flex;
  justify-content: space-between;
  color: var(--teal);
}
.conferenceCard .body .attendeesContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1%;
}
.conferenceCard .body .attendeesContainer .attendee {
  display: flex;
  margin-right: 1%;
}
.conferenceCard .body .attendeesContainer .attendee .name {
  color: var(--info);
}
/* No scheduled conferences */
.emptyMessageContainer {
  margin-top: 20vh;
  text-align: center;
  opacity: 0.2;
  font-size: 7vw;
}
/* Error */
.errorContainer {
  margin-top: 5%;
  margin-left: 7%;
  padding: 1%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  text-align: center;
  overflow: hidden;
}
.errorContainer .error {
  margin: 0 auto;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #111; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--cyan); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary); 
}

/* Miscellaneous */
h1 {
  font-size: 3vw;
}
h2 {
  font-size: 2.5vw;
}
h3 {
  font-size: 2vw;
}
h4 {
  font-size: 1.40625vw;
}
h5 {
  font-size: 1.171875vw;
}
h6 {
  font-size: 0.9375vw;
}

a:hover {
  text-decoration: none;
}
