.loginPage {
  display: flex;
  align-items: center;
  height: 100vh;
}
.loginBox {
  transition: 0.2s;
  height: 65%;
  width: 65%;
  margin: 0 auto;
  border-radius: 25px 25px;
  background: var(--secondary);
}
.loginBox#success {
  transition: 0.6s;
  background: var(--login-success);
}
.loginBox#failure {
  transition: 0.6s;
  background: var(--login-fail);
}
.loginBox:hover {
  height: 66%;
  width: 66%;
  transition: 0.4s;
}
.headerSpace {
  margin: 0.5%;
  text-align: center;
}
.inputSpace {
  display: flex;
  padding: 1% 5%;
}
.inputSpace form {
  font-style: italic;
  color: var(--light);
}
.nameSpace {
  margin: 4% 0;
}
.passwordSpace {
  margin: 3% 0;
}
.loginBox input {
  transition: 0.3s;
  background: var(--light);
  border: 2px solid #222;
  border-radius: 10px;
  font-size: 200%;
  padding: 0 1%;
}
.loginBox input:focus {
  outline: none;
  border: 2px solid var(--blue);
}
.loginBox input[type='submit']:hover {
  transform: scale(1.1);
}
.errorContainer {
  margin-top: 5%;
  margin-left: 7%;
  padding: 1% 1%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px 25px;
  text-align: center;
  overflow: hidden;
}
.errorContainer .error {
  margin-top: 10%;
}