.app-container.login {
  display: flex;
  align-items: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 60vh;
  margin: auto;
  padding: 2% 0;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

.login-box .header {
  font-size: xx-large;
  text-align: center;
}

.login-box button {
  margin: 0 auto;
  width: 80%;
}

.login-box .form-group {
  padding: 0 6vw;
}

.login-box .issue {
  color: var(--danger);
}

@media (max-width: 800px) {
  .login-box {
    width: 100%;
  }
}