.app-container.manager {
  display: flex;
  justify-content: center;
  padding: 4% 1%;
}

.app-container.manager > .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 1%;
  background: rgba(140, 140, 140, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.app-container.manager h1 {
  margin-bottom: 1%;
  text-align: center;
}

button.create {
  transition: 0.1s;
  padding: 1rem 1rem;
  border: none;
  color: #18bc69;
  background: rgba(80, 80, 80, 0.6);
  border-radius: 5px;
  font-size: 2rem;
}
button.create::before {
  content: '+ ';
  display: inline-block;
  margin-right: 1rem;
  transform: scale(2) translateY(-2%);
}
button.create:hover {
  transform: scale(1.04);
  color: #149152;
  background: rgba(255, 255, 255, 0.4);
}

.app-container.manager .content .meeting-container {
  width: 100%;
  height: 100%;
  padding: 1%;
  margin-bottom: 2%;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
}

.app-container.manager .content .floating-text {
  display: block;
  opacity: 0.8;
  font-size: 4rem;
  font-style: italic;
  text-align: center;
}

.manager-container .meeting-strip.editing {
  padding-bottom: 1%;
}

@media (max-width: 800px) {
  .app-container.manager > .content {
    width: 100%;
  }
}

@media (max-height: 600px) {
  .app-container.manager .modal {
    overflow: auto;
  }
}
