.app-container.manager > .header {
  margin-left: 0.5%;
  margin-bottom: 1%;
  text-align: start;
  font-weight: bold;
  font-size: 5rem;
  background: rgba(255, 248, 220, 0.4);
}

.app-container.manager .modal-dialogue {
  background: rgba(255, 255, 255, 0.9);
  width: 45rem;
}

.manager-container {
  padding: 0.1%;
  background: rgba(170, 170, 170, 0.4);
  backdrop-filter: blur(5px);
}

.manager-container .meeting-strip.editing {
  padding-bottom: 1%;
}

button.create {
  transition: 0.1s;
  transform: scale(2) translateY(-5%);
  margin-left: 2vw;
  background: none;
  border: none;
  color: #18bc69;
  line-height: 5rem;
}
button.create:hover {
  transform: scale(2.2) translateY(-4.5%);
  color: #0d703f;
}

@media (max-width: 800px) {
  .app-container.manager .modal-dialogue {
    width: 80%;
  }
}

@media (max-height: 600px) {
  .app-container.manager .modal-dialogue .meeting-card .content {
    padding-top: 3%;
    flex-flow: row;
  }

  .app-container.manager .modal-dialogue .meeting-card .footer {
    position: relative;
    padding-top: 2%;
  }
}
