.meeting-card {
  display: flex;
  flex-direction: column;
  background: rgba(200, 200, 200, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 10px;
}

.meeting-card .header {
  border-radius: 10px 10px 0 0;
  background: rgba(44, 62, 80, 0.6);
}
.meeting-card.soon .header {
  background: rgba(52, 156, 219, 0.6);
}
.meeting-card.in-session .header {
  background: rgba(24, 200, 156, 0.6);
}

.meeting-card.in-session .header::after {
  content: '- IN SESSION';
  margin-left: 0.2em;
}

.meeting-card .header .title::placeholder {
  color: rgba(44, 62, 80, 0.6);
}

.meeting-card .subheader {
  display: flex;
  justify-content: center;
  background: rgba(44, 62, 80, 0.8);
  color: white;
  font-size: x-large;
}

.meeting-card .subheader .date {
  margin-right: 2rem;
}

.meeting-card .subheader .times {
  display: flex;
  justify-content: space-evenly;
  white-space: nowrap;
}
.meeting-card .subheader .times .dash {
  margin: 0 1rem;
}
.meeting-card.soon:not(.in-session) .subheader .times .starttime {
  animation: pulse 1s ease-in-out 0s infinite alternate forwards;
}

.meeting-card .description {
  flex: 1;
  padding: 1% 2%;
  font-size: xx-large;
  background: rgba(44, 62, 80, 0.2);
  word-break: break-word;
}
.meeting-card .description.empty {
  font-style: italic;
}

.meeting-card .footer {
  align-self: flex-end;
  padding-right: 2%;
}
.meeting-card .footer .creator::before {
  content: 'Created By:';
  margin-right: 0.5em;
}

@keyframes pulse {
  from {
    color: rgb(52, 156, 219);
  } to {
    color: rgb(82, 186, 249);
  }
}
