.meeting-card {
  position: relative;
  background-color: rgba(200, 200, 200, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 10px;
}

.meeting-card .header {
  background-color: rgba(44, 62, 80, 0.6);
}
.meeting-card.soon .header {
  background-color: rgba(52, 156, 219, 0.6);
}
.meeting-card.in-session .header {
  background-color: rgba(24, 200, 156, 0.6);
}

.meeting-card .header {
  max-height: 3em;
  overflow: hidden;
}

.meeting-card.in-session .header::after {
  content: ' - IN SESSION';
}

.meeting-card .header .title::placeholder {
  color: rgba(44, 62, 80, 0.6);
}

.meeting-card .subheader {
  display: flex;
  justify-content: center;
  background-color: rgba(44, 62, 80, 0.8);
  color: white;
  font-size: x-large;
}

.meeting-card .subheader .date {
  margin-right: 1%;
}

.meeting-card .subheader .times {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}
.meeting-card.soon:not(.in-session) .subheader .times .starttime {
  animation: pulse 1s ease-in-out 0s infinite alternate forwards;
}

.meeting-card .description {
  padding: 1% 2%;
  font-size: xx-large;
  background-color: rgba(44, 62, 80, 0.2);
  word-break: break-word;
}
.meeting-card .description.empty {
  font-style: italic;
}

.meeting-card .footer {
  float: right;
  padding-right: 2%;
}
.meeting-card .footer .creator::before {
  content: 'Created By:';
  margin-right: 0.5rem;
}

@keyframes pulse {
  from {
    color: rgb(52, 156, 219);
  } to {
    color: rgb(82, 186, 249);
  }
}
