.meeting-strip {
  transition: 0.3s;
  margin: 1% 0;
  background: rgba(200, 200, 200, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 15px;
}
.meeting-strip.saved {
  background: rgba(24, 188, 156, 0.6);
}
.meeting-strip:hover {
  background: rgba(220, 220, 220, 0.6);
  transform: scale(1.01);
}

.meeting-strip.editing {
  padding: 2%;
}

.meeting-strip .btn:not(.submit, .room-button) {
  transition: 0.2s;
  aspect-ratio: 1 / 1;
  margin: 0.5vw;
  padding: 0.2vw;
  font-size: 2rem;
  border-radius: 10px;
}
.meeting-strip .btn:not(.submit, .room-button):hover {
  font-size: 2.5rem;
}

.meeting-strip .share {
  transition: 0.2s;
  color: #212529;
  font-size: 2rem;
  vertical-align: middle;
  cursor: pointer;
}
.meeting-strip .share:hover {
  color: #212529;
}
.meeting-strip .share:hover.active {
  color: #1bb467;
}
.meeting-strip .share.active::before {
  content: 'Link copied to clipboard!';
  position: absolute;
  color: black;
  font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: bolder;
  animation: float 0.5s ease-out 0s 1 normal forwards;
}

.meeting-strip .info-container::after {
  font-size: larger;
  font-weight: bold;
  vertical-align: middle;
}
.meeting-strip.soon:not(.in-session, .editing) .info-container::after {
  content: 'STARTING SOON';
  color: var(--info);
}
.meeting-strip.in-session:not(.editing) .info-container::after {
  content: 'IN SESSION';
  color: var(--danger);
}

.meeting-strip .info-container .btn.edit {
  background: rgba(243, 156, 18, 0.5);
}
.meeting-strip .info-container .btn.edit:hover {
  background: rgb(243, 156, 18);
}
.meeting-strip .info-container .btn.edit.editing {
  background: rgba(231, 76, 60, 0.5);
}
.meeting-strip .info-container .btn.edit.editing:hover {
  background: rgb(231, 76, 60);
}

.meeting-strip .info-container {
  display: block;
  flex-wrap: wrap;
}

.meeting-strip .info-container > *:not(.meeting-card) {
  margin-right: 2%;
  font-size: xx-large;
  vertical-align: middle;
}

.meeting-strip .info-container > .title:not(.meeting-card) {
  font-weight: bold;
}

.meeting-strip .info-container .time-container {
  padding: 0.2% 0.5%;
  font-size: x-large;
  background: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
  white-space: nowrap;
}

.meeting-strip .info-container .time-container .date {
  margin-right: 1rem;
}

.meeting-strip .info-container > .room {
  font-size: x-large;
  font-style: italic;
}

.meeting-strip .info-container .time-container .times {
  display: inline-flex;
  justify-content: space-evenly;
}

.meeting-strip .hover-info-container {
  transition: 0.5s;
  overflow: hidden;
  max-height: 0em;
  margin-left: 0%;
}
.meeting-strip:not(.editing):hover .hover-info-container {
  max-height: 5em;
  margin-left: 2%;
}

.meeting-strip .hover-info-container .btn.delete,
.meeting-strip .hover-info-container .delete-confirm-container .btn.confirm {
  background: rgba(231, 76, 60, 0.5);
}
.meeting-strip .hover-info-container .btn.delete:hover,
.meeting-strip .hover-info-container .delete-confirm-container .btn.confirm:hover {
  background: rgb(231, 76, 60);
}

.meeting-strip .hover-info-container .btn.cancel {
  background: rgba(44, 62, 80, 0.5);
}
.meeting-strip .hover-info-container .btn.cancel:hover {
  background: rgb(44, 62, 80);
}

@keyframes float {
  from {
    margin-top: 0%;
    opacity: 1;
  } to {
    margin-top: -2%;
    opacity: 0;
  }
}
